body {
  width: 960px;
  margin: 0 auto;
  font-family: sans-serif;
  /* border: 2px solid #ccc; */
}

main nav {
  width: 300px;
  float: left;
  box-sizing: border-box;
  padding: 15px;
}

main nav ul li.active {
  font-weight: bold;
}

main nav ul li a {
  text-decoration: none;
  color: black;
}

main section {
  width: 600px;
  float: right;
  box-sizing: border-box;
  border-left: 1px solid #ccc;
  padding: 15px;
}

header {
  border-bottom: 1px solid #ccc;
}

footer {
  padding: 20px;
  display: inline-block;
  width: 100%;
}

section article p span {
  font-weight: bold;
}

section article p {
  padding-left: 15px;
}
